<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Login page in HTML</title>
    <link href='https://fonts.googleapis.com/css?family=Jacques Francois' rel='stylesheet'>
</head>
<body>
    <h1><img src="./images/Logo_Solution_Factory_1.png"></h1>
    <form action="">
        <!-- Headings for the form -->
        <div class="headingsContainer">
            <p>Bienvenue</p>
        </div>

        <!-- Main container for all inputs -->
        <div class="mainContainer">
            <!-- Username -->
            <label for="Email">E-mail :</label>
            <input type="text" placeholder="Entrez Email" id="Email" name="Email" required>
            <br><br>

            <!-- Password -->
            <label for="Pswrd">Mot de passe :</label>
            <input type="password" placeholder="Entrez mot de passe" id="Pswrd" name="Pswrd" required>

            <!-- Submit button -->
            <button type="submit">Se connecter</button>
            <!-- Sign up link -->
            <p class="">Pas de compte?  <a href="register">Se créer un compte!</a></p>
        </div>
    </form>
</body>
</html>