<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="images/Logo_Solution_Factory_2.png"> <!-- Icon en haut de la page-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Librairie Icon-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/Footer.css">
        <link rel="stylesheet" href="/Profil.css">
        <title>La L'e-brairie</title>
    </head>
    <body>
        <nav>
            <div class="logo">
                <img src="/Logo_Solution_Factory_2.png" alt="La l'e-brairie"  width="100" height="100";>
            </div>

            <div class="search-bar">
                <input type="search" placeholder="Rechercher...">
                <span class = "search-icon">
                <img src="/search-icon.png" alt="search"  width="20" height="20";>
                </span>
            </div>

            <ol>
                <li><a href="#">e-book</a></li>
                <li><a href="#">ouvrage papier</a></li>
                <li>
                <img src="/user.png" alt="Image profil" width="20" height="20" style="float: left; margin-left:30px;">    
                <a href="#">profil utilisateur</a></li>
            </ol>
        </nav>
        <div class="container">
            <div class="picture">
                <p>Profil</p>
                <img src="images/Purple Pink Gradient Man 3D Avatar 1.png" alt="Avatar">
                <p>Nom : ELMESTARI KARIM</p>
            </div>
            <div>
                <div class="Connexion">
                    <p class="title">Connexion & Sécurité</p>
                    <p>Email : test</p>
                    <p>Mot de passe : ****</p>
                </div>
                <div class="abonnement">
                    <p class="title"> Abonnement</p>
                    <ul>Avantages
                      <li>Avantage 1</li>
                      <li>Avantage 2</li>
                      <li>Avantage 3</li>
                    </ul>
                </div>
                
            </div>
        </div>
        <h2>Livres en cours</h2>
        <div class="livres">Test</div>
        <footer>
            <div class="content">
              <div class="top">
                <div class="logo-details">
                    <img src="images/Logo_Solution_Factory_2.png" alt="La l'e-brairie"  width="100" height="100">
                    <div class="logo_name">La L'e-brairie</div>
                </div>
    
                <div class="media-icons">
                  <a href="#"><i class="fa fa-facebook-f" ></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                  <a href="#"><i class="fa fa-youtube"></i></a>
                </div>
              </div>
    
              <div class="link-boxes">
                <ul class="box">
                  <li class="link_name">Company</li>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Contact us</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Get started</a></li>
                </ul>
                <ul class="box">
                  <li class="link_name">Services</li>
                  <li><a href="#">App design</a></li>
                  <li><a href="#">Web design</a></li>
                  <li><a href="#">Logo design</a></li>
                  <li><a href="#">Banner design</a></li>
                </ul>
                <ul class="box">
                  <li class="link_name">Account</li>
                  <li><a href="#">Profile</a></li>
                  <li><a href="#">My account</a></li>
                  <li><a href="#">Prefrences</a></li>
                  <li><a href="#">Purchase</a></li>
                </ul>
                <ul class="box input-box">
                  <li class="link_name">Subscribe</li>
                  <li><input type="text" placeholder="Enter your email"></li>
                  <li><input type="button" value="Subscribe"></li>
                </ul>
              </div>
            </div>
            <div class="bottom-details">
              <div class="bottom_text">
                <span class="copyright_text">Copyright © 2021 <a href="#">CodingLab.</a>All rights reserved</span>
                <span class="policy_terms">
                  <a href="#">Privacy policy</a>
                  <a href="#">Terms & condition</a>
                </span>
              </div>
            </div>
          </footer>
    
        <script src="JS/script.js"></script>
    </body>
</html>