h2{
    margin-left: 5%;
    font-family: 'Kotta One'; 
}

p {
    font-family: 'Jacques Francois';
    padding: 10px;
    font-size: 18px;
}


.profilcontainer {
    display: flex;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
  }
  
.title {
    padding-left: 1%;
    padding-top: 1%;
    font-size: 32px;
}

.profilcontainer .picture p{
    justify-content: center;
    text-align: center;
    font-size: 32px;
    margin: auto;
}

.profilcontainer .picture img {
    display: flex;
    margin: auto;
    margin-top: 5%;
}
.profilcontainer .picture {
    background-color: rgba(53, 62, 152, 0.11);
    width: 30vw;
    border-radius: 15px;
}
  
.profilcontainer .Connexion {
    background-color: rgba(53, 62, 152, 0.11);
    width:60vw;
    height: 12vw;
    margin-left: 1%;
    border-radius: 15px;
}

.profilcontainer .Connexion ul {
    margin-left: 6%;
}
  
.profilcontainer .abonnement {
    background-color: rgba(53, 62, 152, 0.11);
    width:60vw;
    height: 11vw;
    margin-left: 1%;
    margin-top: 1vh;
    border-radius: 15px;
}

.profilcontainer .abonnement ul{
    margin-left: 50%;
}

.tel{
    margin-left: 50%; 
}

.livres {
    display: flex;
    justify-content: center;
    background-color: rgba(53, 62, 152, 0.11);
    border-radius: 15px; 
    overflow-x: auto; /* Ajout du défilement horizontal */
    overflow-y: hidden; /* Désactivation du défilement vertical */
    width: 1310px;
    height: 325px;
    padding-top: 5%;
    margin: 50px auto;
    overflow-x: auto; /* Ajout du défilement horizontal */
    overflow-y: hidden; /* Désactivation du défilement vertical */
}

.row{
    display:flex;
    align-items: center;
    justify-content: space-between;
}   

.card-scroll-container {
    display: flex; /* Afficher les cartes en tant que flex-items */
    flex-wrap: nowrap; /* Empêcher le retour à la ligne des cartes */
}

.card-scroll-container .card {
    flex: 0 0 auto; /* Réduire la taille des cartes en tant que flex-items */
    transform: scale(0.7); /* Réduire la taille des éléments */
    border: none;
    margin-right: 0.1px;
}