body 
{
  font-family:sans-serif; 
  background: rgba(140, 147, 218, 0.1)
}

h1{
    text-align: center;
}

h2 {
    font-family: 'Kotta One';
    padding: 50px;
  }

p {
  text-align: center;
}


form{
    width:500px;
    margin: auto;
    color:black;
    font-family: 'Jacques Francois';
    font-style: italic;
    font-size: 22px;
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(53, 62, 152, 0.29);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px 25px;
}

input[type=text], input[type=password]{
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 15px 18px;
    box-sizing: border-box;
  }

button {
    background-color: #030804;
    color: white;
    padding: 14px 20px;
    border-radius: 5px;
    margin: 7px 0;
    width: 100%;
    font-size: 18px;
  }

button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.headingsContainer{
    text-align: center;
    color : black
}

.headingsContainer p{
    color: black;
    font-size: 35px;
}

.mainContainer{
    padding: 16px;
    
}

.subcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.subcontainer a{
    font-size: 16px;
    margin-bottom: 12px;
}

.message-alert{
    color: red;
    text-align: center;
}


span.forgotpsd a {
    float: right;
    color: whitesmoke;
    padding-top: 16px;
  }

.forgotpsd a{
    color: rgb(74, 146, 235);
  }
  
.forgotpsd a:link{
    text-decoration: none;
  }

  .register{
    color: white;
    text-align: center;
  }
  
  .register a{
    color: rgb(74, 146, 235);
  }
  
  .register a:link{
    text-decoration: none;
  }

 
  
  /*--------------------BOOKS--------------------*/

  :root {
    /* Colors */
    --brand-color: #353E98;
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    /* Fonts */
    --font-text: "Jacques Francois", sans-serif;
  }
  
  /* GLOBAL STYLES */
  
.titre{
    color:  rgba(39, 45, 111, 0.65);
}
.card__title{
    opacity: 0;
    font-size: 1.50rem;
    font-family: var(--font-title);
    color: var(--white);
    line-height: 1.1;
    text-align: right;
    white-space: nowrap;
    overflow: visible;
    padding-left: 10px;

    position: relative;
    width: fit-content;
    width: -moz-fit-content;
}
  
index .p {

    font-size: 1rem;
    line-height: 1.5;
    color: var(--white);
}

.flow > * + * {
    margin-top: var(--flow-space, 1em);
}

/* CARD COMPONENT */
.card {
    flex: 1 1 21rem;
    display: grid;
    place-items: center;
    width: 25.5rem;
    height: 25rem;
    overflow: hidden;
    border-radius: 0.125rem;
    box-shadow: 0.50rem 0.50rem 0.2rem rgba(53, 62, 152, 1);
    margin: 1px 10px;
  }
  

.card > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.card__background {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}

.card__content {
    --flow-space: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    height: auto;
    padding: 12% 1.25rem 1.875rem;
    margin-top: -50px;
    background: linear-gradient(
      180deg,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.3) 10%,
      hsl(0, 0%, 0%) 100%
    );
}

.card__content--container {
--flow-space: 1.25rem;
}

.card:hover .card__title {
    opacity: 1;
  }


.card__title::after {
    content: "";
    position: absolute;
    height: 0.3125rem;
    width: calc(100% + 1.25rem);
    bottom: calc((1.25rem - 0.5rem) * -1);
    left: -1.25rem;
    background-color: var(--brand-color);
}

.card__button {
    padding: 0.75em 1.6em;
    width: fit-content;
    width: -moz-fit-content; 
    font-variant: small-caps;
    font-weight: bold;
    border-radius: 0.45em;
    border: none;
    background-color: var(--brand-color);
    font-family: var(--font-title);
    font-size: 1.125rem;
    color: var(--black);
}

.card__description{
  color:white;
}

.card__button:focus {
outline: 2px solid black;
outline-offset: -5px;
}
 /* Media queries for the responsiveness of the page */
  @media screen and (max-width: 600px) {
    form{
      width: 25rem;
    }
  }
  
  @media screen and (max-width: 400px) {
    form{
      width: 20rem;
    }
  }
  
@media (any-hover: hover) and (any-pointer: fine) {
.card__content {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
}


.card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
}

.card__background {
    transition: transform 500ms ease-in;
}

.card__content--container > :not(.card__title),
.card__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
}

.card:hover,
.card:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
}

.card:hover .card__content,
.card:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
}

.card:focus-within .card__content {
    transition-duration: 0ms;
}

.card:hover .card__background,
.card:focus-within .card__background {
    transform: scale(1.3);
}

.card:hover .card__content--container > :not(.card__title),
.card:hover .card__button,
.card:focus-within .card__content--container > :not(.card__title),
.card:focus-within .card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
}

.card:hover .card__title::after,
.card:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
}
}

.container{
    width:1100px;
    max-width:100%;
    margin:0 160px;
}

.row{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.outline{
    background-color: #353E981C;
    border-radius: 15px;
    width: 1310px;
    height: 350px;
    margin: 50px auto;
} 

.outline.best-sellers {
    overflow-x: auto; /* Ajout du défilement horizontal */
    overflow-y: hidden; /* Désactivation du défilement vertical */
}

.card-scroll-container {
    display: flex; /* Afficher les cartes en tant que flex-items */
    flex-wrap: nowrap; /* Empêcher le retour à la ligne des cartes */
}

.card-scroll-container .card {
    flex: 0 0 auto; /* Réduire la taille des cartes en tant que flex-items */
    margin-right: 50px; /* Espacement entre les cartes */
    transform: scale(0.7); /* Réduire la taille des éléments */
    border: none;
}

.pre-btn,
.nxt-btn {
  border: none;
  background: none;
}


.pre-btn{
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn{
    right: 0;
    margin-left: 5px;
}

.pre-btn img,
.nxt-btn img{
    opacity: 0.6;
    width: 50px;
}

.pre-btn:hover img,
.nxt-btn:hover img{
    opacity: 1;
}

body {
  background-color: #353d980a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jacques Francois';
}

/******************************************* HEADER ******************************************/
nav {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-between;
  text-align: center;
  padding: 15px 30px;
}

nav .logo {
  cursor: pointer;
}

.profile-menu {
  position: relative;
  display: inline-block;
}

.menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  top: 20px;
}

.menu a {
  color:  rgba(39, 45, 111, 0.65);;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.profile-menu:hover .menu {
  display: block;
}

nav .profile-icon{
  width: 20px;
  height: 20px;
  float: left;
  margin-left: 30px;
}

nav .search-bar {
  position: relative; /* Ajout de la position relative pour contenir l'icône */
  display: flex;
  align-items: center; /* Pour centrer l'icône verticalement */
  background: rgba(53, 62, 152, 0.29);
  border-radius: 15px;
  width: 614px;
  height: 41px;
  margin-top: 30px;
}

nav .search-bar input {
  border: none;
  outline: none;
  background-color: #353d980a;
  height: 100%;
  width: 97%;
  padding: 0 20px;
  font-size: 15px;
  text-indent: 25px; /* Déplacer le curseur d'écriture*/
  text-align: left;
}

nav .search-bar span {
  position: absolute;
  left: 10px; /* Déplacer l'icône vers la gauche */
  cursor: pointer;
  z-index: 1;
}

nav .search-bar input::placeholder {
  color: #353d9847; /* Couleur du texte */
  padding-left: 5px; /* Décalage vers la droite */
}


nav ol {
  display: flex;
  list-style: none;
  margin: auto 0;
}

nav ol li {
  margin: 0 2px;
}

nav ol li a {
  color: black;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 5px 30px;
}

nav ol li:hover a {
  color: rgba(53, 61, 152, 0.787);
}


/******************************************* FOOTER ******************************************/


footer{
background: rgba(53, 61, 152, 0.787);
font-family: 'Jacques Francois';
width: 100%;
bottom: 0;
left: 0;
}

footer::before{
content: '';
position: absolute;
left: 0;
top: 100px;
height: 1px;
width: 100%;
}
footer .content{
max-width: 1250px;
margin: auto;
padding: 30px 40px 40px 40px;
}
footer .content .top{
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 50px;
}
.content .top .logo-details{
color: #fff;
font-size: 30px;
}
.content .top .media-icons{
display: flex;
}
.content .top .media-icons a{
height: 40px;
width: 40px;
margin: 0 8px;
border-radius: 50%;
text-align: center;
line-height: 40px;
color: #fff;
font-size: 17px;
text-decoration: none;
transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
background: #1246ae;
}
.top .media-icons a:nth-child(1):hover{
color: #1246ae;
background: #fff;
}
.top .media-icons a:nth-child(2){
background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
color: #1DA1F2;
background: #fff;
}
.top .media-icons a:nth-child(3){
background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
color: #E1306C;
background: #fff;
}
.top .media-icons a:nth-child(4){
background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
color: #0077B5;
background: #fff;
}
.top .media-icons a:nth-child(5){
background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
color: #FF0000;
background: #fff;
}
footer .content .link-boxes{
width: 100%;
display: flex;
justify-content: space-between;
}
footer .content .link-boxes .box{
width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
color: #fff;
font-size: 18px;
font-weight: 400;
margin-bottom: 10px;
position: relative;
}
.link-boxes .box .link_name::before{
content: '';
position: absolute;
left: 0;
bottom: -2px;
height: 2px;
width: 35px;
background: #fff;
}
.content .link-boxes .box li{
margin: 6px 0;
list-style: none;
}
.content .link-boxes .box li a{
color: #fff;
font-size: 14px;
font-weight: 400;
text-decoration: none;
opacity: 0.8;
transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
opacity: 1;
text-decoration: underline;
}
.content .link-boxes .input-box{
margin-right: 55px;
}
.link-boxes .input-box input{
height: 40px;
width: calc(100% + 55px);
outline: none;
border: 2px solid #AFAFB6;
background: #282F72;
border-radius: 4px;
padding: 0 15px;
font-size: 15px;
color: #fff;
margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
color: #AFAFB6;
font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
background: #fff;
color: #282F72;
border: none;
font-size: 18px;
font-weight: 500;
margin: 4px 0;
opacity: 0.8;
cursor: pointer;
transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
opacity: 1;
}
footer .bottom-details{
width: 100%;
background: #282F72;
}
footer .bottom-details .bottom_text{
max-width: 1250px;
margin: auto;
padding: 20px 40px;
display: flex;
justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
font-size: 14px;
font-weight: 300;
color: #fff;
opacity: 0.8;
text-decoration: none;
}
.bottom-details .bottom_text a:hover{
opacity: 1;
text-decoration: underline;
}
.bottom-details .bottom_text a{
margin-right: 10px;
}

@media (max-width: 900px) {
footer .content .link-boxes{
  flex-wrap: wrap;
}
footer .content .link-boxes .input-box{
  width: 40%;
  margin-top: 10px;
}
}

@media (max-width: 700px){
footer{
  position: relative;
}
.content .top .logo-details{
  font-size: 26px;
}
.content .top .media-icons a{
  height: 35px;
  width: 35px;
  font-size: 14px;
  line-height: 35px;
}
footer .content .link-boxes .box{
  width: calc(100% / 3 - 10px);
}
footer .content .link-boxes .input-box{
  width: 60%;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 12px;
}
}

@media (max-width: 520px){
footer::before{
  top: 145px;
}
footer .content .top{
  flex-direction: column;
}
.content .top .media-icons{
  margin-top: 16px;
}
footer .content .link-boxes .box{
  width: calc(100% / 2 - 10px);
}
footer .content .link-boxes .input-box{
  width: 100%;
}
}